.container-word-grid-wb-u9-p5-q1 {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row-reverse; */
}

.word-btn-wb-u9-p5-q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.cell-wb-u9-p5-q1 {
    width: 65px;
    height: 45px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}



.cell-wb-u9-p5-q1.highlight {
    background-color: #cdfffa;
    border: 2px solid rgb(0, 179, 255);
}

.cell-wb-u9-p5-q1.found {
    background-color: #dcffcd;
    border: 2px solid green;
    font-weight: bold;
}



@media (max-width: 820px) {
  .container-word-grid-wb-u9-p5-q1 {
  
    flex-direction: column;
}
}