.content-wb-unit9-p4-q2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column-reverse;
}

.q-input-wb-unit9-p4-q2 {
    border-bottom: 2px solid #000000;
    /* padding: 5px 8px; */
    /* border-radius: 6px; */
    font-size: 22px;
    width: 100%;
    text-align: start;
    vertical-align: middle;
    line-height: normal;
}

