.click-icon-unit4-page6-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 3%;
  left: 32.5%;
  cursor: pointer;
}

.click-icon-unit4-page6-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 6%;
  left: 35%;
  cursor: pointer;
}
.click-icon-unit4-page6-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 26.5%;
  left: 32%;
  cursor: pointer;
}
.headset-icon-CD-unit4-page6-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
bottom: 26%;
    left: 24.5%;
  cursor: pointer;
}
