.headset-icon-CD-unit4-page2-1,
.click-icon-unit4-page2-1,
.headset-icon-CD-unit4-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit4-page2-1 {
  top: 5%;
  right: 0%;
}

.headset-icon-CD-unit4-page2-2 {
  bottom: 27%;
  right: 6%;
}

.click-icon-unit4-page2-1 {
  bottom: 10.5%;
  right: 38%;
}
