.headset-icon-CD-unit4-page4-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 39%;
}

.pauseBtn-icon-CD-unit4-page4-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 44%;
}

@media (max-width: 1024px) {
  .pauseBtn-icon-CD-unit4-page4-1,
  .headset-icon-CD-unit4-page4-1 {
    top: 5%;
  }
}
