.click-icon-unit5-page6-2 {
  position: absolute;
  padding: 5px;
        top: 3.5%;
    right: 15%;

  cursor: pointer;
}

.click-icon-unit5-page6-1 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 42.5%;
  cursor: pointer;
}
.click-icon-unit5-page6-3 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 42.5%;

  cursor: pointer;
}
.headset-icon-CD-unit5-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 30%;
  left: 24.5%;
  cursor: pointer;
}
