.headset-icon-CD-unit5-page2-1,
.click-icon-unit5-page2-1,
.headset-icon-CD-unit5-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit5-page2-1 {
  top: 5%;
  right: -0.5%;
}

.headset-icon-CD-unit5-page2-2 {
  bottom: 28%;
  right: 7%;
}

.click-icon-unit5-page2-1 {
  bottom: 11%;
    right: 38.5%;
}
