.headset-icon-CD-unit5-page2-1,
.click-icon-unit5-page2-1,
.headset-icon-CD-unit5-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit5-page2-1 {
  top: 5%;
  right: -0.5%;
}

.headset-icon-CD-unit5-page2-2 {
    bottom: 27.5%;
    right: 6%;
}
.click-icon-unit5-page2-1

 {
    bottom: 10.5%;
    right: 37.5%;
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit5-page2-1 {
    top: 4%;
    right: 2.5%;
}
.headset-icon-CD-unit5-page2-2 {
    bottom: 30.5%;
    right: 9%;
}
    .click-icon-unit3-page2-1 {
        bottom: 14%;
        right: 42%;
    }
}