.headset-icon-CD-unit5-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 38%;
}

.pauseBtn-icon-CD-unit5-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 43%;
}

@media (max-width: 1024px) {
  .pauseBtn-icon-CD-unit5-page3-1,
  .headset-icon-CD-unit5-page3-1 {
      top: 5%;
  }
}
