.input-container-wb-unit10-p1-q1 {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* padding-top: 90px; */
}

.content-container-wb-unit10-p1-q1 {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    /* margin-top: 28px; */
    align-items: center;
}