.word-container-wb-unit9-p2-q3 {
       display: flex;
    flex-direction: column;
    gap: 70px;
}


.wb-unit9-p2-q3-grid {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 25px;
    justify-items: center;
    flex-direction: column;
}


.wb-unit9-p2-q3-box {
    position: relative;
    width: 170px;
    height: 120px;
    border: 2px solid #999;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.wb-unit9-p2-q3-input-wrapper {
    position: absolute;
    bottom: -39px;
    right: 19px;
}


.wb-unit9-p2-q3-input-wrapper {
    width: 40px;
    height: 40px;
    
    border: 2px solid black;
    border-radius: 12px;
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wb-unit9-p2-q3-input {
    width: 40px;
    height: 40px;
    text-align: center;
    /* border: 2px solid #999; */
    border-radius: 12px;
    font-size: 25px;
    font-weight: 700;
    outline: none;
}