.sentence-text-wb-unit10-p5-q1 {
    font-size: 20px;
    /* width: 100px; */
    font-weight: 500;
    color: #333;
}

.row2-wb-unit10-p5-q1 {
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
    align-items: center;
}