.img-box-wb-unit10-p3-q1 {
    width: 160px;
    height: 130px;
    /* border: 2px solid #ccc; */
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.img-box-wb-unit10-p3-q1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.check-box-wb-unit10-p3-q1 {
    position: absolute;
    bottom: 12px;
    right: 22px;
    width: 35px;
    height: 35px;
    color: red;
    font-weight: 700;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background: white;
    border-radius: 12px;
}

.question-box-wb-unit10-p3-q1 {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 20px; */
    flex-direction: column;
}