.wrong-icon-wb-unit1-p6-q1{
        position: absolute;
  top: -8%;
    right: 27%;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 2px solid white;
}