.container1 {
  margin: auto;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.word-wb-u1-p2-q1 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.word-bank-wb-u1-q4 {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 20px;
  margin: 20px;
}
.question-container-wb-u1-p4-q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
      gap: 20px;
}
.matching-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

/* الكلمة + النقطة */
.word-with-dot {
  display: flex;
  align-items: center;
  /* width: 32%; */
  gap: 10px;
}

.matching-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.matching-scale {
  width: 60%;
  /* max-width: 100%; */
  position: relative;
}
@media (max-width: 820px) {
  .matched-img {
    height: 100px;
    width: auto;
  }
  .word-with-dot {
    width: 40%;
  }
  .word-text {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .matching-scale {
    transform: scale(0.85);
    width: 100%;
  }
}

@media (max-width: 500px) {
  .matching-scale {
    transform: scale(0.75);
  }
}

@media (max-width: 400px) {
  .matching-scale {
    transform: scale(0.63);
  }
}

/* النص يأخذ مساحة عشان النقطة ما تتحرك */
.word-text {
  flex: 1;
  font-size: 25px;
  font-weight: 700;
}

.span-num {
  font-weight: 800;
  font-size: 25px;
  color: purple;
}

/* الصورة + النقطة */
.img-with-dot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  gap: 10px;
}

.matched-img {
  height: 150px;
  width: auto;
}

/* مكان ثابت للنقطة */
.dot-wrapper {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* النقاط */
.dot {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

/* طبقة الخطوط */
.lines-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ⭐ تم إضافتها */
.wrong-icon-wb-u1-p4-q1 {
    position: absolute;
    top: 39%;
    right: 25%;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
