.shorti-container-wb-u1-q2 {
  /* display: flex; */
  flex-direction: column;
  /* gap: 25px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.question-box-wb-u1-q2 {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  flex-direction: column;
}

.shorti-container-wb-u1-q2 {
  flex-direction: column;
  /* gap: 25px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.img-box-wb-u1-q2 {
  width: 200px;
  height: 190px;
  /* border: 2px solid #ccc; */
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.img-box-wb-u1-q2 .selected {
  border-color: #37a3ff;
}

.img-box-wb-u1-q2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.check-box-wb-u1-q2 {
  position: absolute;
  bottom: 13px;
  right: 10px;
  width: 50px;
  height: 50px;
  color: red;
  font-weight: 700;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background: white;
  border-radius: 17px;
}

.wrong-x-circle-wb-u1-p3-q2 {
  color: white;
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 2%;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
}

@media (max-width: 1024px) {
  .img-box-wb-u1-q2 {
    width: 164px;
    height: 173px;
  }
}
