.wb-unit1-p8-q1 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 64%;
}
.wb-unit1-p8-q1-audio {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 64%;
}

.wb-unit1-p8-q2 {
  position: absolute;
  padding: 5px;
  top: 37.2%;
  left: 74.5%;
}

.wb-unit1-p8-q3 {
  position: absolute;
  padding: 5px;
  top: 67.5%;
  left: 41%;
}

@media (max-width: 1180px) {
  .wb-unit1-p8-q1 {
    top: 9.5%;
    left: 65%;
  }
}

@media (max-width: 820px) {
}
