.section-one11-review10-p1-q3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 200px;
}

.answer-input-review10-p1-q3 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.input-container-review10-p1-q3 {
width: 73%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;
}
.answer-input33-review10-p1-q3 {
  border-bottom: 2px solid;
  text-align: start;
  vertical-align: middle;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.answer-input3-review10-p1-q3 {
  border-bottom: 2px solid;
  text-align: start;
  vertical-align: middle;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.content-input-review10-p1-q3 {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    width: 47%;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}