.content-review9-p1-q2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.question-box-review9-p1-q2 {
  /* border: 2px solid #92ccff; */
  border-radius: 10px;
  padding: 15px 25px;
  /* width: 50%; */
  background-color: #f9fcff;
  position: relative;
}
.question-blank-review9-p1-q2 {
  border-bottom: 2px solid black;
}

.answer-input-review9-p1-q2{
 
    border-bottom: 2px solid;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 22px;
    font-weight: 500;
    width: 95%;
    /* height: 60px; */

}
