.sentence-review10-p2-q3 {
  text-align: center;
  display: flex;
  margin-top: 35px;
  font-size: 25px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.missing-input-review10-p2-q3{
  width: 50px;
  border: none;
  border-bottom: 2px solid black;
  margin: 0 6px;
  font-size: 25px;
  text-align: center;
}
