.wrong-x-circle-wb-unit8-p6-q2 {
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: -20px;
    right: -19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
    z-index: 99;
}