.wb-unit8-p1-q1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
}

.sentence-wb-unit8-p1-q1 {
  font-size: 18px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 8px;
  /* height: 40px; */
  /* width: 193px; */
  padding: 10px;
  width: 60%;
  text-align: start;
}

.word-container-wb-unit8-p1-q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 25px;
}
