.unscramble-row-wb-unit8-p6-q1 {
    display: grid;
    gap: 50px;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
}


.img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  
}