.question-box-wb-unit8-p6-q3 {
    /* border: 2px solid #8cc2f5; */
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    background: white;
    position: relative;
}

.img-option-wb-unit8-p6-q3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}