.wb-unit2-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}

.wb-unit2-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 35%;
}

.draw-canvas-wb-unit2-p2-q2 {
  width: 100%;
  height: 100%; /* كبير متل ما بدك */
  border: 2px solid #ccc;
  touch-action: none;
  cursor: crosshair;
}

.canvas-wrapper-wb-unit2-q2 {
  position: relative;
  width: 500px;
  height: 150px;
}

/* الصورة */
.cake-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none; /* مهم جدًا */
}

/* الكانفاس */
.draw-canvas-wb-unit2-p2-q2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 1024px) {
  .wb-unit2-p2-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit2-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit2-p2-q1 {
    top: 14.5%;
  }

  .wb-unit2-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}
