.img-box-wb-unit2-p6-q2 {
    width: 100px;
    height: 130px;
    /* border-radius: 50%; */
    /* padding: 5px; */
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}
.content-container-wb-p6-q2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}