
.draw-canvas-wb-u2-q1 {
    width: 100%;
    height: 400px;
    border: 2px solid #ccc;
    touch-action: none;
    cursor: crosshair;
}

.avatar-img-wb-u2-q1 {
    width: auto;
    height: 150px;
}


@media (max-width: 1024px) {
  .img-box-wb-u1-q2 {
    width: 164px;
    height: 173px;
  }
.avatar-img-wb-u2-q1 {
    width: auto;
    height: 110px;
}
  .question-row-unit7-p2-q3 {

    margin-bottom: 0px;
   
}
}
