.container12 {
  margin: auto;
  position: relative;
  user-select: none;
  margin-bottom: 30px;
}

.matching-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* الكلمة + النقطة */
.word-with-dot2 {
  display: flex;
  align-items: center;

  gap: 10px;
}

/* النص يأخذ مساحة عشان النقطة ما تتحرك */
.word-text2 {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  background: #b7eaff;
  border-radius: 20px; /* هذا اللي بيسوي الشكل البيضاوي */
  font-size: 18px;

  min-width: 100px; /* حتى تثبت شوي */
  text-align: center;
  border: 2px solid #3baaf7;
}

.span-num2 {
  font-weight: 800;
  color: purple;
}

/* الصورة + النقطة */
.img-with-dot2 {
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 30%;
  justify-content: flex-start;
}

.matched-img2 {
  height: 150px;
  width: auto;
}

/* مكان ثابت للنقطة */
.dot-wrapper2 {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* النقاط */
.dot2 {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

/* طبقة الخطوط */
.lines-layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ⭐ تم إضافتها */
.error-mark8-u2-p19-q1 {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  left: 11%;
  top: 28%;
  z-index: 99;
}
