.click-icon-unit10-page6-2 {
  position: absolute;
  padding: 5px;
     top: 5.5%;
    right: 17%;
  cursor: pointer;
}

.click-icon-unit10-page6-1 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 42.5%;
  cursor: pointer;
}
.click-icon-unit10-page6-3 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 42.5%;

  cursor: pointer;
}
.headset-icon-CD-unit10-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24.5%;
  cursor: pointer;
}
