.click-icon-unit10-page6-2 {
  position: absolute;
  padding: 5px;
    top: 25%;
    right: 45%;

  cursor: pointer;
}

.click-icon-unit10-page6-1 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 42.5%;
  cursor: pointer;
}
.click-icon-unit10-page6-3 {
  position: absolute;
  padding: 5px;
top: 52.5%;
    left: 59%;

  cursor: pointer;
}
.headset-icon-CD-unit10-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 21%;
  left: 24.5%;
  cursor: pointer;
}
