.content-container-wb-unit4-p6-q2{
        display: flex;
    width: 100%;
    justify-content: space-between;
}

.img-bank-wb-unit4-p6-q2 {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
    margin: 15px 0;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.table-div-wb-unit4-p6-q2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}