.wb-unit4-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}

.wb-unit4-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 35%;
}
.wb-unit4-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 60%;
  left: 35%;
}

.sentence-wb-unit4-p6-q3 {
    text-align: center;
    display: flex;
    /* margin-top: 35px; */
    font-size: 25px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .wb-unit4-p6-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit4-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit4-p6-q1 {
    top: 14.5%;
  }

  .wb-unit4-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
}
