.q-img-wb-unit5-page2-q2 {
    width: auto;
    height: 120px;
}

.word-box-wb-unit5-page2-q2 {
    display: inline-block;
    padding: 8px 18px;
    border: 2px solid #444;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    height: fit-content;
    font-weight: 600;
    background: #fff;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .q-img-wb-unit5-page2-q2 {
    width: auto;
    height: 100px;
}
.word-box-wb-unit5-page2-q2 {

    font-size: 15px;

}
}