.headset-icon-CD-unit8-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6.5%;
  left: 38%;
}

.pauseBtn-icon-CD-unit8-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6.5%;
  left: 43%;
}
