.headset-icon-CD-unit8-page1-1,
.click-icon-unit8-page1-1,
.headset-icon-CD-unit8-page1-2,
.click-icon-unit8-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}

.headset-icon-CD-unit8-page1-1 {
  top: 7%;
  right: 11.5%;
}

.click-icon-unit8-page1-1 {
  left: 20%;
  top: 36%;
}

.headset-icon-CD-unit8-page1-2 {
  bottom: 38%;
  left: 26%;
}

.click-icon-unit8-page1-2 {
  bottom: 11.5%;
  right: 39%;
}

#num-1-unit8{
  top: 20%;
  left: 6.5%;
}

#num-2-unit8 {
  bottom: 39%;
  left: 17.5%;
}

#num-3-unit8 {
  top: 45%;
  left: 33.5%;
}

#num-4-unit8 {
  top: 19%;
  right: 35%;
}

#num-5-unit8 {
  top: 28%;
  right: 36%;
}

#num-6-unit8 {
  bottom: 53%;
  right: 36%;
}

#num-7-unit8 {
  left: 50%;
  bottom: 28.5%;
}
#num-8-unit8 {
  left: 59%;
  bottom: 28.5%;
}#num-9-unit8 {
  left: 55%;
  bottom: 28.5%;
}