
/* ============================
    OPTIONS ROW UNDER IMAGE
============================= */
.options-row-unit8-p5-q3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  flex-direction: row;
  align-items: flex-start;
}

.question-box-unit8-p5-q3 {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    align-items: center;}