.headset-icon-CD-unit8-page2-1,
.click-icon-unit8-page2-1,
.headset-icon-CD-unit8-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit8-page2-1 {
  top: 5%;
  right: 3.5%;
}

.headset-icon-CD-unit8-page2-2 {
  bottom: 27%;
  right: 3%;
}

.click-icon-unit8-page2-1 {
  bottom: 11%;
  right: 19.5%;
}
