.headset-icon-CD-unit8-page4-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6.5%;
  right: 55.5%;
}


.pauseBtn-icon-CD-unit8-page4-1{
    position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6.5%;
  right: 50.5%;
}