.click-icon-unit8-page6-2 {
  position: absolute;
  padding: 5px;
     top: 5.5%;
    right: 10%;
  cursor: pointer;
}

.click-icon-unit8-page6-1 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 50.5%;
  cursor: pointer;
}
.click-icon-unit8-page6-3 {
  position: absolute;
  padding: 5px;
 top: 45.5%;
    left: 50.5%;

  cursor: pointer;
}
.headset-icon-CD-unit8-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 50.5%;
  cursor: pointer;
}
