.unscramble-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}



.unscramble-row {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.unscramble-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.img-box {
  width: 110px;
  height: 110px;
  border: 3px solid #7bc4ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .img-box img {
  width: 80px;
} */

.scrambled-word {
  font-size: 16px;
  font-weight: 600;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.num {
  font-weight: 700;
  color: #2c5287;
}

.text-input {
  width: 80px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 16px;
  text-align: center;
  padding: 3px;
}

.pattern {
  font-weight: 600;
}

.error-icon {
  position: absolute;
  top: -8px;     /* ارفعيه فوق */
  right: -8px;   /* حطيه يمين */
  width: 22px;
  height: 22px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  z-index: 10;
  border: 2px solid white;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}
