.vocab_container_poster_vocab {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}
.poster-grammar-wrapper {
  position: relative;
  display: inline-block;
}

.audio-btn-poster {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.audio-btn-poster svg {
  width: 100%;
  height: 100%;
}

.audio-btn-poster:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

@media (max-width: 1180px) {
  .vocab_container_poster_vocab {
    font-size: 16x;
  }
}
@media (max-width: 1024px) {
  .poster-grammar-img {
    height: 48vh;
    width: auto;
  }
}
/* @media (max-height: 800px) {
.vocab_container_poster_vocab {
   
    font-size: 18px;
}
} */
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .poster-grammar-img {
    height: 90vh;
    width: auto;
  } 
      .vocab_container_poster_vocab {
        font-size: 13px;
    }
}

@media (max-width: 820px) {
  .vocab_container_poster_vocab {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .vocab_container_poster_vocab {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .poster-grammar-img {
    height: 37vh;
    width: auto;
  }
  .audio-btn-poster {
    width: 33px;
    height: 33px;
  }
  .vocab_container_poster_vocab {
    font-size: 7px;
  }
}
