.headset-icon-CD-unit9-page2-1,
.click-icon-unit9-page2-1,
.headset-icon-CD-unit9-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit9-page2-1 {
  top: 5%;
  right: -0.5%;
}

.headset-icon-CD-unit9-page2-2 {
 bottom: 27.5%;
    right: 5%;
}

.click-icon-unit9-page2-1 {
bottom: 10.5%;
  right: 37.5%;
}
