
.dot22-unit6-q7 {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto !important;
}

.end-dot22-unit6-q7 {

  transform: translateX(-50%);

  position: absolute !important;
  top: -30px; /* عدّلي الرقم حسب مكان الجمل */
}

.start-dot22-unit6-q7 {
  position: absolute !important;
  top: 70px; /* عدّلي الرقم حسب موقعك */
  left: 50%;
  transform: translateX(-50%);
}


.img-box2-unit6-p6-q3{
  width: 170;
    height: auto;
    border-radius: 10px;
    position: relative;
}