.headset-icon-CD-unit6-page2-1,
.click-icon-unit6-page2-1,
.headset-icon-CD-unit6-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}

.headset-icon-CD-unit6-page2-1 {
  top: 7%;
  right: 0.5%;
}

.headset-icon-CD-unit6-page2-2 {
  bottom: 28%;
  right: 8%;
}

.click-icon-unit6-page2-1 {
  bottom: 11%;
  right: 38.5%;
}
