.click-icon-unit6-page6-2 {
 position: absolute;
    padding: 5px;
    top: 26%;
    right: 26.5%;
    cursor: pointer;
}

.click-icon-unit6-page6-1 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 42.5%;
  cursor: pointer;
}
.click-icon-unit6-page6-3 {
  position: absolute;
  padding: 5px;
  top: 47%;
  right: 26%;
  cursor: pointer;
}
.headset-icon-CD-unit6-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 22%;
  right: 34.5%;
  cursor: pointer;
}
