.headset-icon-CD-unit6-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
  top: 6%;
  left: 38%;
}

.pauseBtn-icon-CD-unit6-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
  top: 6%;
  left: 43%;
}
