.input-container-wb-unit3-p2-q1 {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-top: 90px; */
}
.content-container-wb-unit3-p2-q1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 28px;
}