.wb-unit3-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}

.wb-unit3-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 35%;
}
.img-box-wb-u2-p3-q1 {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    /* padding: 10px; */
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.check-box-wb-u2-p3-q1  {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 40px;
    height: 40px;
    color: red;
    font-weight: 700;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 8px;
}
@media (max-width: 1024px) {
  .wb-unit3-p3-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit3-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit3-p3-q1 {
           top: 14.5%;
    
  }

  .wb-unit3-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}
