.row-content10-wb-unit3-page3-q1 {
    display: grid;
    /* margin-bottom: 55px; */
    gap: 22px;
    /* margin-top: 20px; */
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.word-bank-wb-unit3-page3-q1 {
    display: flex;
    /* gap: 15px; */
    flex-wrap: wrap;
    /* margin: 15px 0; */
    align-items: center;
    justify-content: center;
}
.q-input-wb-unit3-page3-q1 {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 19px;
    width: 100%;
    /* text-align: center; */
    vertical-align: middle;
    line-height: normal;
}