.wb-unit3-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}

.wb-unit3-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 35%;
}

.wrong-icon-wwb-unit2-p1-q1 {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

@media (max-width: 1024px) {
  .wb-unit3-p1-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit3-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit3-p1-q1 {
           top: 14.5%;
    
  }

  .wb-unit3-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}
