.wb-unit3-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}

.wb-unit3-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 35%;
}



@media (max-width: 1024px) {
  .wb-unit3-p2-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit3-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit3-p2-q1 {
           top: 14.5%;
    
  }

  .wb-unit3-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}
