.wb-unit6-p6-q1-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 60px;
    /* margin-top: 20px; */
    width: 100%;
}