.blank-options-wb-unit6-b3-q1.third-blank {
  display: flex;
  gap: 50px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  flex-direction: row;
}

.first-line-wb-unit6-b3-q1 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.blank-options-wb-unit6-b3-q1 {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    flex-direction: column;
}

.question-row-wb-unit6-b3-q14 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 22px;
    flex-direction: column;
    width: 100%;
}