.wb-unit6-p4-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 35.5%;
}

.wb-unit6-p4-q2 {
    position: absolute;
    padding: 5px;
    top: 53.5%;
    left: 31%;
}

.img-wb-unit6-p4-q2 {
    height: 100px;
    width: auto;
}
.content-container-wb-unit6-p4-q2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 43px;
}

.section-two-wb-unit6-p4-q2,
.section-one-wb-unit6-p4-q2,
.section-three-wb-unit6-p4-q2,
.section-four-wb-unit6-p4-q2 {
  display: flex;
  flex-direction: column;
}
.answer-input-wb-unit6-p4-q2{
    border-bottom: 2px solid black;
    width: 90%;
}

.img-container-wb-unit6-p4-q2{
      display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.img-wb-unit6-p4-q2 {
    height: 150px;
    width: auto;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-wb-unit6-p4-q2 {
    height: 110px;
    width: auto;
}
}
/* @media (max-width: 1024px) {
  .wb-unit6-p4-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit6-p4-q2 {
    top: 45.5%;
    left: 35%;
  }
} */

@media (max-width: 820px) {
  /* .wb-unit6-p4-q1 {
    top: 14.5%;
  } */
.img-wb-unit6-p4-q2 {
    height: 110px;
    width: auto;
}
  /* .wb-unit6-p4-q2 {
    top: 45.5%;
    left: 35%;
  } */
}
