.click-icon-unit3-page6-2 {
    position: absolute;
    padding: 5px;
    top: 15.5%;
    left: 49.8%;
    cursor: pointer;
}

.click-icon-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 39%;
  cursor: pointer;
}
.click-icon-unit3-page6-3 {
    position: absolute;
    padding: 5px;
    top: 37.2%;
    left: 41.5%;
    cursor: pointer;
}
.headset-icon-CD-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24.5%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .headset-icon-CD-unit3-page6-1 {
    bottom: 31%;
    left: 24.5%;
  }
}
