.row2-review8-p1-q2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error-mark-input-review8-p1-q2 {
  position: absolute;
  top: -4px;
  right: -13px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}

.input-wrapper-review8-p1-q2 {
  position: relative;
}

