
.circled::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  border: 3px solid #2c5287;
  border-radius: 50%;
  pointer-events: none;
}

