.headset-icon-CD-unit7-page2-1,
.click-icon-unit7-page2-1,
.headset-icon-CD-unit7-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit7-page2-1 {
  top: 5.5%;
  right: 1%;
}

.headset-icon-CD-unit7-page2-2 {
    bottom: 27.5%;
    right: 5.5%;
}

.click-icon-unit7-page2-1 {
    bottom: 10.5%;
  right: 38%;
}

@media (max-width: 1024px) {
    .headset-icon-CD-unit7-page2-1 {
        top: 4.5%;
        right: 3%;
    }
 .headset-icon-CD-unit7-page2-2 {
        bottom: 30.5%;
        right: 10%;
    }
  .click-icon-unit7-page2-1 {
    bottom: 14%;
    right: 42%;
  }
}
@media (max-width: 820px) {
  .headset-icon-CD-unit7-page2-1 {
    top: 5%;
    right: 2%;
  }
  .headset-icon-CD-unit7-page2-2 {
    bottom: 28.5%;
    right: 8%;
  }
  .click-icon-unit7-page2-1 {
    bottom: 13.5%;
    right: 40%;
  }
}
