.headset-icon-CD-unit7-page1-1,
.click-icon-unit7-page1-1,
.headset-icon-CD-unit7-page1-2,
.click-icon-unit7-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit7-page1-1 {
     top: 7%;
    right: 8.5%;
}

.click-icon-unit7-page1-1 {
     left: 19%;
    top: 37%;
}

.headset-icon-CD-unit7-page1-2 {
 bottom: 38.5%;
    left: 26%;
}

.click-icon-unit7-page1-2 {
  bottom: 11.5%;
  right: 39%;
}

#num-1-unit7 {
  top: 20%;
  left: 25.5%;
}

#num-2-unit7 {
  top: 21%;
  right: 53%;
}

#num-3-unit7 {
  top: 53%;
  left: 56.5%;
}

#num-4-unit7 {
  top: 31%;
  right: 59%;
}

#num-5-unit7 {
  top: 28%;
  right: 39%;
}

#num-6-unit7 {
  bottom: 59%;
  right: 38%;
}

#num-7-unit7 {
  left: 42%;
  bottom: 48.5%;
}

#num-8-unit7 {
  left: 20%;
  top: 32.5%;
}
